{
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime"
  ],
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", {
      "targets": {
        "ie": 11
      },
      "modules": false,
      "useBuiltIns": "usage",
      "debug": true
    }]
  ]
}